<footer class="footer text-center" id="contact">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="mailto:pgjlandryÀgmail.com">
              <i class="icon-envelope"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.google.com/maps/place/Department+of+Physics/@33.8797492,-117.8877721,17z/data=!3m1!4b1!4m5!3m4!1s0x80dcd5ce22215b3d:0x28f6e5e63580ebcd!8m2!3d33.8797492!4d-117.8855834?hl=en">
              <i class="icon-location-pin"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://github.com/landryp">
              <i class="icon-social-github"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; landryp 2020</p>
    </div>
</footer>
