<footer class="footer text-center" id="contact">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="mailto:pgjlandryÀgmail.com">
              <i class="icon-envelope"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://scholar.google.com/citations?hl=en&user=aS1a3oEAAAAJ">
              <i class="icon-graph"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://github.com/landryp">
              <i class="icon-social-github"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; landryp 2020</p>
    </div>
</footer>
